<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Elasticsearch Client</span>
        <span class="toolbar-spacer"></span>
        <a mat-button>About</a>
    </mat-toolbar-row>
</mat-toolbar>
<input id="unSanitizedQuery" name="unSanitizedQuery" class="form-control"
      required minlength="1"
      [(ngModel)]="queryModel.unSanitizedQuery" #unSanitizedQuery="ngModel" >
<div style="display: inline;" *ngIf="unSanitizedQuery.invalid && (unSanitizedQuery.dirty || unSanitizedQuery.touched)"
    class="alert alert-danger">

  <span *ngIf="unSanitizedQuery.errors && unSanitizedQuery.errors.required">
    Query is required.
  </span>
  <span *ngIf="unSanitizedQuery.errors && unSanitizedQuery.errors.minlength">
    Query must be at least 1 characters long.
  </span>

</div>
&#160;
<span *ngIf="totalPages">Page {{currentPage}} of {{totalPages}} of&#160;</span>
<mat-form-field appearance="fill">
   <mat-select [(ngModel)]="selectedIndex">
     <mat-option *ngFor="let item of indices" [value]="item.value">
       {{item.viewValue}}
     </mat-option>
   </mat-select>
 </mat-form-field>&#160;
<button (click)="search(1)" matButton>Search</button>&#160;
<button (click)="previousPage()" matButton>Previous</button>&#160;
<button (click)="nextPage()" matButton>Next</button>&#160;
<div *ngIf="selectedIndex != 'images'">
<table>
    <thead>
       <tr>
          <th>path</th>
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of esData">
          <td><a target="_blank" href="{{ 'https://fileserver.leenet.link/' + item._source.path.virtual }}">{{item._source.path.virtual }}</a></td>
       </tr>
    </tbody>
 </table>
 </div>
 <div *ngIf="selectedIndex == 'images'">
  <ul class="images">
    <li *ngFor="let item of esData"><img width="200" src="{{ 'https://fileserver.leenet.link/' + item._source.path.virtual }}"/></li>
  </ul>
</div>
<div>{{ searchResponse }}</div>
