<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Elasticsearch Client</span>
        <span class="toolbar-spacer"></span>
        <a mat-button>About</a>
    </mat-toolbar-row>
</mat-toolbar>
<input id="unSanitizedQuery" name="unSanitizedQuery" class="form-control"
      required minlength="3"
      [(ngModel)]="queryModel.unSanitizedQuery" #unSanitizedQuery="ngModel" >

<div *ngIf="unSanitizedQuery.invalid && (unSanitizedQuery.dirty || unSanitizedQuery.touched)"
    class="alert alert-danger">

  <div *ngIf="unSanitizedQuery.errors && unSanitizedQuery.errors.required">
    Query is required.
  </div>
  <div *ngIf="unSanitizedQuery.errors && unSanitizedQuery.errors.minlength">
    Query must be at least 2 characters long.
  </div>

</div>
<button (click)="search('docker-compose',1)" matButton>Search</button>
<button (click)="previousPage('docker-compose')" matButton>Previous</button>
<button (click)="nextPage('docker-compose')" matButton>Next</button>
<table>
    <thead>
       <tr>
          <th>path</th>
          <th>content</th>
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of esData">
          <td>{{ 'smb://elasticsearch1/owncloud/' + item._source.path.virtual }}</td>
          <td>{{ item._source.content }}</td>
       </tr>
    </tbody>
 </table>